.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fieldsContainer {
    text-align: center;
    display: flex;
    width: 1020px;
}

.buttonContainer button {
    margin-top: 30px;
    background: #903;
    color: white;
    border: 1px solid #990033;
    width: 130px;
    height: 40px;
    font-size: 17px;
}